<div xmlns:th="http://www.thymeleaf.org">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a class="tip-bottom"><i class="icon-home"></i> 面包屑导航</a></div>
        <h1>商品管理</h1>
    </div>
    <!--End-breadcrumbs-->
    <div class="container-fluid">
        <!-- 父类目 -->
        <div class="btn-group">
            <button id="superCateFace" data-toggle="dropdown" class="btn dropdown-toggle">父类目<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="superCate">
                <!--<li><a>类目1</a></li>-->
                <!--<li><a>类目2</a></li>-->
            </ul>
        </div>
        <!-- 子类目 -->
        <div class="btn-group">
            <button id="childCateFace" data-toggle="dropdown" class="btn dropdown-toggle">子类目<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="childCate">
                <!--<li><a>类目1</a></li>-->
                <!--<li><a>类目2</a></li>-->
            </ul>
        </div>

        <button class="btn btn-info" onclick="previewItems(0)" id="preview_btn">预览此类目</button>
        <input type="text" id="search_id_input" placeholder="商品Id" style="margin-bottom: 0">
        <button class="btn btn-info" onclick="searchById()">搜索Id</button>
        <button class="btn btn-success" onclick="addItemPage()" id="fun_btn">添加商品</button>
    </div>

    <!-- 添加页面 -->
    <div id="addItem_frame" th:include="addItemPage" style="display: none"></div>
    <!-- 添加页面end -->

    <!-- 预览区 -->
    <div class="container-fluid" id="preview_frame">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">

                    <div class="widget-title"><span class="icon"> <i class="icon-picture"></i> </span>
                        <h5></h5>
                    </div>

                    <div class="widget-content">
                        <ul class="thumbnails" id="itemPreviewArea">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-jsrender" id="superCateTmpl">
        <li><a href="javascript:changeCate(0,{{:id}},'{{:cname}}')">{{:cname}}</a></li>

</script>

<script type="text/x-jsrender" id="childCateTmpl">
        <li><a href="javascript:changeCate(1,{{:id}},'{{:cname}}')">{{:cname}}</a></li>

</script>

<script type="text/x-jsrender" id="itemPreviewTmpl">
    <li class="span2">
        <a> <img src="{{:imgUrl}}" alt=""> </a>
             <div align="center">
                 <span class="label label-success">{{:id}}</span>&nbsp<span
                     class="label label-info">{{:name.substr(0,5)}}</span><br/>
                 <span class="label label-inverse">{{:fatherCategory.cname}}/{{:childCategory.cname}}</span><br/>
                 <span class="badge">￥{{:oprice/100}}</span>&nbsp<span class="badge badge-important">￥{{:price/100}}</span>
             </div>
    </li>

</script>
<script>
    var superCateIndex = -1;
    var childCateIndex = -1;

    function listSuperCategory() {
        $.getJSON("/admin/category/list", "", function (data, status) {
            var template = $.templates("#superCateTmpl");
            var html = template.render(data);
            $("#superCate").html(html);

            if (data.length > 0) {
                changeCate(0, data[0]['id'], data[0]['cname']);
            } else {
                slideErrorMsg('类目错误', '不存在任何类目!');
            }
        });
    }

    function listChildCategory(index) {
        if (index == -1) {
            slideErrorMsg('类目错误', '父级类目不正确或没有子类目!');
            return;
        }
        $.getJSON("/admin/category/list?sc=" + index, "", function (data, status) {
            var template = $.templates("#childCateTmpl");
            var html = template.render(data);
            $("#childCate").html(html);

            if (data.length > 0) {
                changeCate(1, data[0]['id'], data[0]['cname']);
            } else {
                slideErrorMsg('类目错误', '父级类目不正确或没有子类目!');
                changeCate(1, -1, '错误类目');
            }
        });
    }

    function changeCate(type, id, cname) {
        if (type == 0) {
            $("#superCateFace").text(cname);
            superCateIndex = id;
            listChildCategory(id);
        } else {
            $("#childCateFace").text(cname);
            childCateIndex = id;
        }

        $("#categroyShow").val($("#superCateFace").text() + ' / ' + $("#childCateFace").text());
    }

    function previewItems(page) {
        if (superCateIndex == -1 || childCateIndex == -1) {
            slideErrorMsg('搜索错误', '搜索类目不正确');
            return;
        }
        $.getJSON('/admin/tradeItem/listByCategory?fa=' + superCateIndex + '&ch=' + childCateIndex + '&page=' + page, '', function (data, status) {
            if (data['result']) {
                var items = data['data'];
                if(items.length < 1){
                    slideErrorMsg('查询成功','没有查到结果');
                }
                var template = $.templates("#itemPreviewTmpl");
                var html = template.render(items);
                $("#itemPreviewArea").html(html);
            } else {
                slideErrorMsg('查询出错', data['msg']);
            }
        }).error(function () {
            slideErrorMsg('查询出错', '服务器错误');
        });
    }

    var preview_frame_switch = false;
    function addItemPage() {
        if (preview_frame_switch) {
            $("#fun_btn").text('添加商品');
            $("#preview_frame").fadeIn();
            $("#addItem_frame").fadeOut();
        } else {
            $("#fun_btn").text('返回预览');
            $("#addItem_frame").fadeIn();
            $("#preview_frame").fadeOut();
        }
        preview_frame_switch = !preview_frame_switch;
        $("#preview_btn").attr('disabled', preview_frame_switch);
        $("#search_btn").attr('disabled', preview_frame_switch);
    }

    function initPage() {
        listSuperCategory();
    }

    function searchById() {
        $.getJSON('/admin/tradeItem/findById?id='+$("#search_id_input").val(),'',function (data, status) {
            if(data.length > 0){
                slideErrorMsg('查询成功','没有查到结果');
            }
            var template = $.templates("#itemPreviewTmpl");
            var html = template.render(data['data']);
            $("#itemPreviewArea").html(html);
        }).error(function () {
            slideErrorMsg('查询出错', '服务器错误');
        });
    }

</script>
<script type="text/javascript" src="/js/wangEditor.min.js"></script>
<script>
    addJsBlackList("jquery.validate.js");
    addJsBlackList("jquery.wizard.js");
    addJsBlackList("excanvas.min.js");
    addJsBlackList("jquery.peity.min.js");
    addJsBlackList("fullcalendar.min.js");
    addJsBlackList("matrix.chat.js");
    addJsBlackList("matrix.form_validation.js");
    addJsBlackList("matrix.popover.js");
    addJsBlackList("bootstrap-colorpicker.js");
    addJsBlackList("bootstrap-datepicker.js");
    addJsBlackList("masked.js");
</script>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    editor.create();

    function getContent() {
        return editor.txt.html();
    }

    function setContent(detail) {
        editor.txt.html(detail);
    }

    function saveNewItem() {
        var data = {};
        data['name'] = $("[name='item_name']").val();
        data['oprice'] = $("[name='item_oprice']").val();
        data['price'] = $("[name='item_price']").val();
        data['imgUrl'] = $("[name='item_img']").val();
        data['unit'] = $("[name='unit']").val();
        data['desp'] = $("[name='item_desp']").val();
        data['indexRecommand'] = $("[name='indexRecommand']").is(':checked');
        data['recommand'] = $("[name='recommand']").is(':checked');
        data['available'] = $("[name='item_online_status']:checked").val();
        data['detailDesp'] = getContent();
        data['fatherCategory'] = superCateIndex;
        data['childCategory'] = childCateIndex;

        $.post('/admin/tradeItem/addTradeItem', data, function (resp, status) {
            if (resp['result']) {
                slideErrorMsg('消息', '添加成功');
                $("#addItem_frame input").val("");
                setContent('');
                addItemPage();
                previewItems(0);
            } else {
                slideErrorMsg('发生错误', resp['msg']);
            }
        }).error(function () {
            slideErrorMsg('发生错误', '请检查输入');
        });
    }
</script>